.header {
	background-color: #ff6600;
	height: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0px 0.3em;
}

@media (max-width: 480px) {
	.menu {
		display: none;
	}
}

.logo {
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu {
	font-size: small;
}

.title {
	font-weight: bold;
}

.menulist {
	display: flex;
	gap: 0.5em;
	align-items: center;
}
